body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: gray;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:focus {
  outline: none;
}

h6 {
  margin: 0;
  padding: 0;
}

hr {
  display: block;
  border: 1px solid white;
}


/*-----NAV----*/
#nav {
  height: 15vh;
  margin: 0;
}

#nav img {
  width: 90%;
}

#nav li {
  padding-left: 3em;
}

#nav ul {
  margin-top: -2em;
}

/*-----NAV MODAL----*/

.modal-content {
  background-color: black;
  color: #bd8500;
}


 .modal-header-img {
  background: url("../assets/images/profile.jpg") center;
  background-size: cover;
  border-radius: 100%;
  border: 5px solid #F5B532;
  display: block;
  height: 20vh;
  width: 20vh;
}

.modal-footer {
  background-color: #F5B532;
}

.modal-footer button {
  background-color:
}

#logInModalCenter input, #signUpModalCenter input {
  background: rgba(245, 181, 50, 0.2);
  border: 1px solid rgba(245, 181, 50, 0.6);
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
}

#signUpModalCenter ::placeholder{
  color: white;
  font-size: 0.7em;
  opacity: 0.7;
  padding-left: 0.7em;
}

.dropdown-toggle {
  background-color: rgba(240, 240, 240, 0.8);
  color: #404040;
}

#logInModalCenter .fa {
  border: 1px solid #F5B532;
  color: white;
  padding: 1em;
}

.btn-loging {
  background-color: rgba(240, 244, 244, 0.9);
}

.btn-close {
  color: white;
}

/*----SECTION FORM ----*/
.sectionForm {
  background: url("../assets/images/taxi.jpg") bottom;
  background-size: cover;
  height: 110vh;
}

.sectionForm-content {
  height: 55%;
}

.sectionForm-mobileContent {
  height: 40vh;
}

.sectionForm button {
  background-color: white;
  margin-top: 5vh;
}

.form-mobile {
  font-size: 2.2em;
}

.form-logo {
  height: 3vh;
  margin-top: -2vh;
  padding-left: 2%;
}

.form-button {
  margin-top: 8vh;
}

.sectionForm hr {
  background-color: white;
  display: inline-block;
  line-height: 30%;
  width: 80%;
}

.sectionForm hr:before {
  background-color: #F5B532;
  content:"O bien";
  display: inline;
  padding: 8px;
}

/*----SECTION signUpModalCenter ----*/
.account {
  background-color: #F5B532;
  color: white;
  border-radius: 5px;
}


/*----SECTION driveModalCenter ----*/
#driveModalCenter .close {
  color: white;
}

#driveModalCenter .modal-body span, #driveModalCenter .modal-body p {
  font-size: 0.8em;
  padding-top: 5vh;
}

/*----SECTION DOWNLOAD ----*/
.section-download {
  font-size: 1.2em;
  line-height: 1.6em;
}

/*----SECTION DOWNLOAD ----*/

.section-drive {
  background: url("../assets/images/conduce.jpg") center;
  background-size: cover;
  height: 55vh;
}

.drive-content {
  background-color: rgba(10, 10, 10, 0.5);
  color: white;
  height: 100%;
}

.drive-content button {
  background-color: #F5B532;
  color: white;
}

/*----SECTION MAP - RATES*/

#section-map {
  height: auto;
}

#section-map input {
  background: none;
  border: 1px solid white;
  border-radius: 8px;
}

#section-map ::placeholder {
  color: white;
  font-size: 2vh;
}

#section-map span {
  padding-right: 2em;
}

.map {
  height: 70vh;
  margin: 0;
  width: 90%;
}


/*----SECTION FOOTER ----*/
footer {
  background-color: #2B2B2B;
  color: white;
}

.list-group-item {
  background: none;
  border: none;
  color: white;
  font-size: 0.8em;
  line-height: 0.9em;
}

.footer {
  border-top: 1px solid white;
  margin-top: 5vh;
}

.footer-logo {
  padding-top: 10vh;
}




.background-yellow {
  background-color: #F5B532;
  color: white;
}

.p-05 {
  padding: 0.5em !important;
}

.p-1 {
  padding: 1em !important;
}

.p-1-left !important{
  padding: 2em 1em 1em 0;
}

.p-2 {
  padding: 2em !important;
}

.p-3-left{
  padding: 2.5em 2.5em 2.5em 0 !important;
}

.p-3 {
  padding: 3em!important;
}

.m-2 {
  margin: 2em;
}

.p-only-left {
  padding: 0 0 0 1em !important;
}

.p-rates {
  padding: 2.5em 3.2em 2.5em 3.2em !important;
}

.p-footer {
  padding:  6em !important;
}
