#nav {
  height: 10vh;
  margin: 0;
  padding: 0;
}

.nav-menu {
  justify-content:flex-start;
}

#section-map input {
  background: none;
  border: 1px solid white;
  border-radius: 8px;

}

#section-map ::placeholder {
  color: white;
  font-size: 2vh;
}


.form {
  background: url("../assets/images/taxi.jpg") bottom;
  background-size: cover;
  height: 110vh;
}

.form-content {
  height: 50%;
}

.background-yellow {
  background-color: #F5B532;
  color: white;
}

.drive {
  background: url("../assets/images/conduce.jpg") center;
  background-size: cover;
  height: 55vh;
}

.drive-content {
  background-color: rgba(10, 10, 10, 0.5);
  color: white;
  height: 100%;
}

#section-map {
  height: 50vh;
}

.section-map-map {
  width: 80vh;
}

#map {
  height: 80%;
  margin: 0;
  padding: 0;
}
/*
.row {
  padding: 0!important;
}
*/
footer {
  background-color: #2B2B2B;
  color: white;
}

.list-group-item {
  background: none;
  border: none;
  color: white;

}



.p-1 {
  padding: 1em !important;
}

.p-1-left {
  padding: 1em 1em 1em 0;
}

.p-2 {
  padding: 2em !important;
}

.p-3 {
  padding: 3em !important;
}
